@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
body{
	font-family: 'Sawarabi Mincho';
}
.w3-card-4,.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2);
	width: 350px;
	text-align: center;
	margin: 10px;
	filter: grayscale(100%);

}

h1 {
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -1.9em;
	color: hsla(0,0%,100%,.3);
	font: 900 800% Baskerville, sans-serif;	

}
/* Standard syntax */
@keyframes turmadojohtml{
    from {filter: grayscale(100%);}
    to {filter: grayscale(0%);}
}
img{
	width: 350px;
	height: 350px;


}
.imagensLista {

	display: flex; 
	flex-wrap: wrap;
	padding: 65px;
}
.w3-card-4:hover{
	filter: grayscale(0%);
	transition: 1s
	/*animation-name: turmadojohtml;
    animation-duration: 1.5s;*/

}
 p{
 	text-indent: 2em;
 }

 .imgdeuses{
 	display: block;
 	margin: auto;
 }
 .bodygods{
 	background-image: url("img/ZEUS.jpg");
	min-height: 100%; 	
 }
 @keyframes loading {
	from { max-width: 0; }
}

h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 4em;
	color: white;
	animation: loading 10s linear;
}
